[![AnalyticsDojo](https://s3.amazonaws.com/analyticsdojo/logo/final-logo.png)](http://www.analyticsdojo.com)
<center><h1>Introduction to R - Merging and Aggregating Data</h1></center>
<center><h3><a href = 'http://www.analyticsdojo.com'>www.analyticsdojo.com</a></h3></center>

### Links: [local](http://localhost:8888/notebooks/classes/05-intro-r2/intro-r-merge-agg-fun.ipynb) [github](https://github.com/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/05-intro-r2/intro-r-merge-agg-fun.ipynb) [slides](http://nbviewer.jupyter.org/format/slides/github/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/05-intro-r2/intro-r-merge-agg-fun.ipynb#/)

## Overview
- Merging Dataframes 
- Aggregating Dataframes
- Advanced Functions

## Merging Data Frame with Vector
- Can combine vector with data frame in multiple ways. 
- `data.frame(a,b)` where a & b can be vectors, matrices, or data frames.

In [1]:
#Below is the sample data we will be creating 2 dataframes  
key=(1:10)

#Here we are passing the row names and column names as a list. 
m<- data.frame(matrix(rnorm(40, mean=20, sd=5), nrow=10, ncol=4, dimnames=list((1:10),c("a","b","c","d"))))
m2<- data.frame(matrix(rnorm(40, mean=1000, sd=5), nrow=10, ncol=4, dimnames=list((1:10),c("e","f","g","h"))))

#This is one way of combining a vector with a dataframe. 
df<-  data.frame(key,m)
df2<- data.frame(key,m2)

#This is another way way of combining a vector with a dataframe. 
dfb<-  cbind(key,m)
df2b<- cbind(key,m2)

df
df2
dfb
df2b

   key        a        b        c        d
1    1 20.50214 16.60869 14.88686 20.89809
2    2 24.18158 19.90981 19.62064 16.57353
3    3 18.35527 20.25521 16.67386 16.81153
4    4 25.35698 10.23034 17.32814 18.90601
5    5 24.07046 21.19635 12.52569 17.45836
6    6 16.50536 11.34504 20.08921 27.26584
7    7 17.50779 15.70850 26.12286 15.16879
8    8 15.08212 27.58321 15.06400 19.46627
9    9 12.76471 11.58911 20.25465 17.30286
10  10 23.93089 20.80851 23.36120 16.18776

   key         e         f         g         h
1    1 1000.1023  989.9935 1005.0422 1001.7415
2    2 1009.3844  999.4555 1000.4988 1004.6167
3    3  998.2950  997.9369  999.4667  998.0846
4    4 1004.3564  998.4387  995.0715 1002.5952
5    5 1000.2215  997.0171 1002.0915  999.4608
6    6  994.8956  998.3683 1003.0706  998.1549
7    7 1003.7155 1000.9164  998.5317 1001.5177
8    8  999.5380 1010.1371  997.2845 1005.4273
9    9  991.4471  991.8533  999.6570  998.4383
10  10 1010.7914 1001.3373 1002.4867  998.2432

   key        a        b        c        d
1    1 20.50214 16.60869 14.88686 20.89809
2    2 24.18158 19.90981 19.62064 16.57353
3    3 18.35527 20.25521 16.67386 16.81153
4    4 25.35698 10.23034 17.32814 18.90601
5    5 24.07046 21.19635 12.52569 17.45836
6    6 16.50536 11.34504 20.08921 27.26584
7    7 17.50779 15.70850 26.12286 15.16879
8    8 15.08212 27.58321 15.06400 19.46627
9    9 12.76471 11.58911 20.25465 17.30286
10  10 23.93089 20.80851 23.36120 16.18776

   key         e         f         g         h
1    1 1000.1023  989.9935 1005.0422 1001.7415
2    2 1009.3844  999.4555 1000.4988 1004.6167
3    3  998.2950  997.9369  999.4667  998.0846
4    4 1004.3564  998.4387  995.0715 1002.5952
5    5 1000.2215  997.0171 1002.0915  999.4608
6    6  994.8956  998.3683 1003.0706  998.1549
7    7 1003.7155 1000.9164  998.5317 1001.5177
8    8  999.5380 1010.1371  997.2845 1005.4273
9    9  991.4471  991.8533  999.6570  998.4383
10  10 1010.7914 1001.3373 1002.4867  998.2432

## Merging Columns of Data Frame with another Data Frame
- Can combine data frame in multiple ways. 
- `merge(a,b,by="key")` where a & b are dataframes with the same keys.
- `cbind(a,b)` where a & b are dataframes with the same number of rows.

In [2]:
# This manages the merge by an associated key.
df3 <- merge(df,df2,by="key")
# This just does a "column bind" 
df4<- cbind(df,df2)
df5<- data.frame(df,df2)
df3
df4
df5

   key        a        b        c        d         e         f         g
1    1 20.50214 16.60869 14.88686 20.89809 1000.1023  989.9935 1005.0422
2    2 24.18158 19.90981 19.62064 16.57353 1009.3844  999.4555 1000.4988
3    3 18.35527 20.25521 16.67386 16.81153  998.2950  997.9369  999.4667
4    4 25.35698 10.23034 17.32814 18.90601 1004.3564  998.4387  995.0715
5    5 24.07046 21.19635 12.52569 17.45836 1000.2215  997.0171 1002.0915
6    6 16.50536 11.34504 20.08921 27.26584  994.8956  998.3683 1003.0706
7    7 17.50779 15.70850 26.12286 15.16879 1003.7155 1000.9164  998.5317
8    8 15.08212 27.58321 15.06400 19.46627  999.5380 1010.1371  997.2845
9    9 12.76471 11.58911 20.25465 17.30286  991.4471  991.8533  999.6570
10  10 23.93089 20.80851 23.36120 16.18776 1010.7914 1001.3373 1002.4867
           h
1  1001.7415
2  1004.6167
3   998.0846
4  1002.5952
5   999.4608
6   998.1549
7  1001.5177
8  1005.4273
9   998.4383
10  998.2432

   key        a        b        c        d key         e         f         g
1    1 20.50214 16.60869 14.88686 20.89809   1 1000.1023  989.9935 1005.0422
2    2 24.18158 19.90981 19.62064 16.57353   2 1009.3844  999.4555 1000.4988
3    3 18.35527 20.25521 16.67386 16.81153   3  998.2950  997.9369  999.4667
4    4 25.35698 10.23034 17.32814 18.90601   4 1004.3564  998.4387  995.0715
5    5 24.07046 21.19635 12.52569 17.45836   5 1000.2215  997.0171 1002.0915
6    6 16.50536 11.34504 20.08921 27.26584   6  994.8956  998.3683 1003.0706
7    7 17.50779 15.70850 26.12286 15.16879   7 1003.7155 1000.9164  998.5317
8    8 15.08212 27.58321 15.06400 19.46627   8  999.5380 1010.1371  997.2845
9    9 12.76471 11.58911 20.25465 17.30286   9  991.4471  991.8533  999.6570
10  10 23.93089 20.80851 23.36120 16.18776  10 1010.7914 1001.3373 1002.4867
           h
1  1001.7415
2  1004.6167
3   998.0846
4  1002.5952
5   999.4608
6   998.1549
7  1001.5177
8  1005.4273
9   998.4383
10  998.2432

   key        a        b        c        d key.1         e         f         g
1    1 20.50214 16.60869 14.88686 20.89809     1 1000.1023  989.9935 1005.0422
2    2 24.18158 19.90981 19.62064 16.57353     2 1009.3844  999.4555 1000.4988
3    3 18.35527 20.25521 16.67386 16.81153     3  998.2950  997.9369  999.4667
4    4 25.35698 10.23034 17.32814 18.90601     4 1004.3564  998.4387  995.0715
5    5 24.07046 21.19635 12.52569 17.45836     5 1000.2215  997.0171 1002.0915
6    6 16.50536 11.34504 20.08921 27.26584     6  994.8956  998.3683 1003.0706
7    7 17.50779 15.70850 26.12286 15.16879     7 1003.7155 1000.9164  998.5317
8    8 15.08212 27.58321 15.06400 19.46627     8  999.5380 1010.1371  997.2845
9    9 12.76471 11.58911 20.25465 17.30286     9  991.4471  991.8533  999.6570
10  10 23.93089 20.80851 23.36120 16.18776    10 1010.7914 1001.3373 1002.4867
           h
1  1001.7415
2  1004.6167
3   998.0846
4  1002.5952
5   999.4608
6   998.1549
7  1001.5177
8  1005.4273
9   998.4383
10  998.2432

## Merging Rows of Data Frame with another Data Frame
- `rbind(a,b)` combines rows of data frames of a and b.
- `rbind(a,b, make.row.names=FALSE)` this will reset the index.

In [56]:
#Here we can combine rows with rbind. 
df5<-df
#The make Row
df6<-rbind(df,df5)
df6
df7<-rbind(df,df5, make.row.names=FALSE)
df7

    key        a        b         c        d
1     1 23.79673 18.25258 18.703024 21.16741
2     2 32.17846 16.84168 21.362624 20.67891
3     3 24.22406 30.15848 20.628571 18.21497
4     4 18.00913 12.77107  8.265824 22.44412
5     5 15.13451 25.72037 21.459729 12.96514
6     6 27.81598 28.00179 28.532001 16.96023
7     7 21.74676 24.03397 24.908786 21.10662
8     8 15.39738 13.11944 25.514899 27.04881
9     9 19.73008 20.68793 19.589387 17.83640
10   10 17.00273 19.55965 12.376183 25.42529
11    1 23.79673 18.25258 18.703024 21.16741
21    2 32.17846 16.84168 21.362624 20.67891
31    3 24.22406 30.15848 20.628571 18.21497
41    4 18.00913 12.77107  8.265824 22.44412
51    5 15.13451 25.72037 21.459729 12.96514
61    6 27.81598 28.00179 28.532001 16.96023
71    7 21.74676 24.03397 24.908786 21.10662
81    8 15.39738 13.11944 25.514899 27.04881
91    9 19.73008 20.68793 19.589387 17.83640
101  10 17.00273 19.55965 12.376183 25.42529

   key        a        b         c        d
1    1 23.79673 18.25258 18.703024 21.16741
2    2 32.17846 16.84168 21.362624 20.67891
3    3 24.22406 30.15848 20.628571 18.21497
4    4 18.00913 12.77107  8.265824 22.44412
5    5 15.13451 25.72037 21.459729 12.96514
6    6 27.81598 28.00179 28.532001 16.96023
7    7 21.74676 24.03397 24.908786 21.10662
8    8 15.39738 13.11944 25.514899 27.04881
9    9 19.73008 20.68793 19.589387 17.83640
10  10 17.00273 19.55965 12.376183 25.42529
11   1 23.79673 18.25258 18.703024 21.16741
12   2 32.17846 16.84168 21.362624 20.67891
13   3 24.22406 30.15848 20.628571 18.21497
14   4 18.00913 12.77107  8.265824 22.44412
15   5 15.13451 25.72037 21.459729 12.96514
16   6 27.81598 28.00179 28.532001 16.96023
17   7 21.74676 24.03397 24.908786 21.10662
18   8 15.39738 13.11944 25.514899 27.04881
19   9 19.73008 20.68793 19.589387 17.83640
20  10 17.00273 19.55965 12.376183 25.42529

## `aggregate` and `by`
- Aggregation is a very important function.
- Can have variables/analyses that happen at different levels.
- `by(x, by, FUN)` provides similar functionality.

In [28]:
iris=read.csv(file="../../data/iris.csv", header=TRUE,sep=",")
head(iris)

  sepalLength sepalWidth petalLength petalWidth species
1         5.1        3.5         1.4        0.2  setosa
2         4.9        3.0         1.4        0.2  setosa
3         4.7        3.2         1.3        0.2  setosa
4         4.6        3.1         1.5        0.2  setosa
5         5.0        3.6         1.4        0.2  setosa
6         5.4        3.9         1.7        0.4  setosa

In [75]:
iris<-read.csv(file="../../data/iris.csv", header=TRUE,sep=",")

#Aggregate by Species  aggregate(x, by, FUN, ...)
iris.agg<-aggregate(iris[,1:4], by=list("species" = iris$species), mean)
print(iris.agg)

#Notice this gives us the same output but structured differently. 
by(iris[, 1:4], species, colMeans)

     species sepalLength sepalWidth petalLength petalWidth
1     setosa       5.006      3.418       1.464      0.244
2 versicolor       5.936      2.770       4.260      1.326
3  virginica       6.588      2.974       5.552      2.026

species: setosa
sepalLength  sepalWidth petalLength  petalWidth
      5.006       3.418       1.464       0.244
------------------------------------------------------------
species: versicolor
sepalLength  sepalWidth petalLength  petalWidth
      5.936       2.770       4.260       1.326
------------------------------------------------------------
species: virginica
sepalLength  sepalWidth petalLength  petalWidth
      6.588       2.974       5.552       2.026

## `apply`(plus `lapply`/`sapply`/`tapply`/`rapply`)
- `apply` - Applying a function to **an array or matrix**, return a vector or array or list of values. `apply(X, MARGIN, FUN, ...)`
- [`lapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - Apply a function to **each element of a list or vector**, return a **list**. 
- [`sapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - A user-friendly version if `lapply`. Apply a function to **each element of a list or vector**, return a **vector**.
- `tapply` - Apply a function to **subsets of a vector** (and the subsets are defined by some other vector, usually a factor), return a **vector**. 
- `rapply` - Apply a function to **each element of a nested list structure, recursively,** return a list.
- Some functions aren't vectorized, or you may want to use a function on every row or column of a matrix/data frame, every element of a list, etc.
- For more info see this [tutorial](https://nsaunders.wordpress.com/2010/08/20/a-brief-introduction-to-apply-in-r/)

## `apply`
- `apply` - Applying a function to **an array or matrix**, return a vector or array or list of values. `apply(X, MARGIN, FUN, ...)`
- If you are using a data frame the data types must all be the same. 
- `apply(X, MARGIN, FUN, ...) where X is an array or matrix. 
- `MARGIN` is a vector giving the where function should be applied. E.g., for a matrix 1 indicates rows, 2 indicates columns, c(1, 2) indicates rows and columns.
- `FUN` is any function.

In [70]:
iris<-read.csv(file="../../data/iris.csv", header=TRUE,sep=",")
iris$sum<-apply(iris[1:4], 1, sum) #This provides a sum across  for each row. 
iris$mean<-apply(iris[1:4], 1, mean)#This provides a mean across collumns for each row. 
head(iris)
apply(iris[1:4], 2, mean)

  sepalLength sepalWidth petalLength petalWidth species  sum  mean
1         5.1        3.5         1.4        0.2  setosa 10.2 2.550
2         4.9        3.0         1.4        0.2  setosa  9.5 2.375
3         4.7        3.2         1.3        0.2  setosa  9.4 2.350
4         4.6        3.1         1.5        0.2  setosa  9.4 2.350
5         5.0        3.6         1.4        0.2  setosa 10.2 2.550
6         5.4        3.9         1.7        0.4  setosa 11.4 2.850

sepalLength  sepalWidth petalLength  petalWidth
   5.843333    3.054000    3.758667    1.198667

## `lapply` & `sapply`
- [`lapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - Apply a function to **each element of a list or vector**, return a **list**.
- `lapply(X, FUN, ...)`
- [`sapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - A user-friendly version if `lapply`. Apply a function to **each element of a list or vector**, return a **vector**.
- `sapply(X, FUN, ...)`

In [95]:
# create a list with 2 elements
sample <- list("count" = 1:5, "numbers" =5:10)

# sum each and return as a list. 
sample.sum<-lapply(sample, sum)

class(sample.sum)
print(c(sample.sum, sample.sum["numbers"],sample.sum["count"]))

[1] "list"

$count
[1] 17

$numbers
[1] 47

$numbers
[1] 47

$count
[1] 17

In [111]:
# create a list with 2 elements
sample <- list("count" = 1:5, "numbers" =5:10)

# sum each and return as a list. 
sample.sum<-sapply(sample, sum)

class(sample.sum)
print(c(sample.sum, sample.sum["numbers"],sample.sum["count"],sample.sum[["count"]]))

#Note the differenece between #sample.sum[["count"]] and sample.sum["count"]

[1] "integer"

  count numbers numbers   count
     15      45      45      15      15

In [104]:
# We can also utilize simple 
square<-function(x) x^2
square(1:5)

# We can use our own function here.     
sapply(1:10, square)

#We can also specify the function directly in sapply.
sapply(1:10, function(x) x^2)

[1]  1  4  9 16 25

 [1]   1   4   9  16  25  36  49  64  81 100

 [1]   1   4   9  16  25  36  49  64  81 100

## `tapply` 
- `tapply` - Apply a function to subsets of a vector (and the subsets are defined by some other vector, usually a factor), return a vector.
- Can do something similar to aggregate.

In [49]:
#Tapply example
#tapply(X, INDEX, FUN, …) 
#X = a vector, INDEX = list of one or more factor, FUN = Function or operation that needs to be applied. 
iris<-read.csv(file="../../data/iris.csv", header=TRUE,sep=",")
iris.sepalLength.agg<-tapply(iris$sepalLength, iris$species, mean)
print(iris.sepalLength.agg)

    setosa versicolor  virginica
     5.006      5.936      6.588

In [ ]:
col.sums <- apply(x, 2, sum)
row.sums <- apply(x, 1, sum)

## CREDITS


Copyright [AnalyticsDojo](http://www.analyticsdojo.com) 2016.
This work is licensed under the [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/) license agreement.
This work is adopted from the Berkley R Bootcamp.